extends base.pug
block title
    title Care And Decor Items
block style
    style 
        include ../public/css/base.css
        include ../public/css/care.css
        include ../public/css/chatting.css
    body 
        main
            .heading-gift-container
                .gift-page-heading
                    h1 Care&Decor Items
                .gift-page-desc
                    p Plants are like Child, Care Them like a child 

            //-gift items Container that will contain all the sections for the gift items
            section.pageItem-container
                .pgitems-heading
                    h2 Best Items
                .pgitems-products
                    .pgitem-prdct1.sim-bs-itemspg
                        .pgitem-prdct-image
                            a(href="TransplantingTrowel") #[img(src="../static/images/care/transplantingtrowel.jpg", alt="", srcset="",width="100%", height="100%")]
                        .pgitem-item-info-container    
                            .pgitem-prdt-info
                                h3 Transplanting Trowel
                                p Price
                            .pgitem-prdt-link
                                a(href="http://").Bnbtn.BuyButtonC#BuyButtonI
                                    | Buy Now
                                a(href="http://").AtcBtn.CartButtonC#CartButtonI 
                                    | AddToCart 

                    .pgitem-prdct2.sim-bs-itemspg
                        .pgitem-prdct-image
                            a(href="/PlasticHandTrowel") #[img(src="../static/images/care/transimg2.jpg", alt="", srcset="",width="100%", height="100%")]
                        .pgitem-item-info-container    
                            .pgitem-prdt-info
                                h3 Plastic Hand Trowel
                                p Price
                            .pgitem-prdt-link
                                a(href="http://").Bnbtn.BuyButtonC#BuyButtonI
                                    | Buy Now
                                a(href="http://").AtcBtn.CartButtonC#CartButtonI 
                                    | AddToCart

                    .pgitem-prdct3.sim-bs-itemspg
                        .pgitem-prdct-image
                            a(href="/PlasticHandFork") #[img(src="../static/images/care/plastichandfork.jpg", alt="", srcset="",width="100%", height="100%")]
                        .pgitem-item-info-container    
                            .pgitem-prdt-info
                                h3 Plastic Hand Fork
                                p Price
                            .pgitem-prdt-link
                                a(href="http://").Bnbtn.BuyButtonC#BuyButtonI
                                    | Buy Now
                                a(href="http://").AtcBtn.CartButtonC#CartButtonI 
                                    | AddToCart

                    .pgitem-prdct4.sim-bs-itemspg
                        .pgitem-prdct-image
                            a(href="/PlasticHandCultivator") #[img(src="../static/images/care/plastichandcultivator.jpg", alt="", srcset="",width="100%", height="100%")]
                        .pgitem-item-info-container    
                            .pgitem-prdt-info
                                h3 Plastic Hand Cultivator
                                p Price
                            .pgitem-prdt-link
                                a(href="http://").Bnbtn.BuyButtonC#BuyButtonI
                                    | Buy Now
                                a(href="http://").AtcBtn.CartButtonC#CartButtonI 
                                    | AddToCart    

                    .pgitem-prdct5.sim-bs-itemspg
                        .pgitem-prdct-image
                            a(href="/hedgeShear") #[img(src="../static/images/care/hedgeshear.jpg", alt="", srcset="",width="100%", height="100%")]
                        .pgitem-item-info-container    
                            .pgitem-prdt-info
                                h3 Hedge Shear
                                p Price
                            .pgitem-prdt-link
                                a(href="http://").Bnbtn.BuyButtonC#BuyButtonI
                                    | Buy Now
                                a(href="http://").AtcBtn.CartButtonC#CartButtonI 
                                    | AddToCart    

                    .pgitem-prdct6.sim-bs-itemspg
                        .pgitem-prdct-image
                            a(href="/watercan") #[img(src="../static/images/care/watercan.jpg", alt="", srcset="",width="100%", height="100%")]
                        .pgitem-item-info-container    
                            .pgitem-prdt-info
                                h3 Water Can
                                p Price
                            .pgitem-prdt-link
                                a(href="http://").Bnbtn.BuyButtonC#BuyButtonI
                                    | Buy Now
                                a(href="http://").AtcBtn.CartButtonC#CartButtonI 
                                    | AddToCart    

                    .pgitem-prdct7.sim-bs-itemspg
                        .pgitem-prdct-image
                            a(href="/bonsaiset") #[img(src="../static/images/care/bonsaiSet.jpg", alt="", srcset="",width="100%", height="100%")]
                        .pgitem-item-info-container    
                            .pgitem-prdt-info
                                h3 Bonsai Set
                                p Price
                            .pgitem-prdt-link
                                a(href="http://").Bnbtn.BuyButtonC#BuyButtonI
                                    | Buy Now
                                a(href="http://").AtcBtn.CartButtonC#CartButtonI 
                                    | AddToCart 

                    .pgitem-prdct8.sim-bs-itemspg
                        .pgitem-prdct-image
                            a(href="/ThreeProngHS") #[img(src="../static/images/care/ThreeprongHand.jpg", alt="", srcset="",width="100%", height="100%")]
                        .pgitem-item-info-container    
                            .pgitem-prdt-info
                                h3 3 Prong Hand Cultivator
                                p Price
                            .pgitem-prdt-link
                                a(href="http://").Bnbtn.BuyButtonC#BuyButtonI
                                    | Buy Now
                                a(href="http://").AtcBtn.CartButtonC#CartButtonI 
                                    | AddToCart  
                    .pgitem-prdct9.sim-bs-itemspg
                        .pgitem-prdct-image
                            a(href="/SteramelFert") #[img(src="../static/images/care/Fertsterameal.jpg", alt="", srcset="",width="100%", height="100%")]
                        .pgitem-item-info-container    
                            .pgitem-prdt-info
                                h3 Sterameal Fertilizer
                                p Price
                            .pgitem-prdt-link
                                a(href="http://").Bnbtn.BuyButtonC#BuyButtonI
                                    | Buy Now
                                a(href="http://").AtcBtn.CartButtonC#CartButtonI 
                                    | AddToCart    

                    .pgitem-prdct10.sim-bs-itemspg
                        .pgitem-prdct-image
                            a(href="/cocopeatFert") #[img(src="../static/images/care/Fertcocopeat.jpg", alt="", srcset="",width="100%", height="100%")]
                        .pgitem-item-info-container    
                            .pgitem-prdt-info
                                h3 Coco Peat Block  
                                p Price
                            .pgitem-prdt-link
                                a(href="http://").Bnbtn.BuyButtonC#BuyButtonI
                                    | Buy Now
                                a(href="http://").AtcBtn.CartButtonC#CartButtonI 
                                    | AddToCart    

                    .pgitem-prdct11.sim-bs-itemspg
                        .pgitem-prdct-image
                            a(href="/ExfoliatedFret") #[img(src="../static/images/care/Fertexfoliated.jpg", alt="", srcset="",width="100%", height="100%")]
                        .pgitem-item-info-container    
                            .pgitem-prdt-info
                                h3 Exfoliated Vermiculite 
                                p Price
                            .pgitem-prdt-link
                                a(href="http://").Bnbtn.BuyButtonC#BuyButtonI
                                    | Buy Now
                                a(href="http://").AtcBtn.CartButtonC#CartButtonI 
                                    | AddToCart                                

                    .pgitem-prdct12.sim-bs-itemspg
                        .pgitem-prdct-image
                            a(href="/JeevamrtuFret") #[img(src="../static/images/care/Fertjeevamrut.jpg", alt="", srcset="",width="100%", height="100%")]
                        .pgitem-item-info-container    
                            .pgitem-prdt-info
                                h3 Jeevamrut 
                                p Price
                            .pgitem-prdt-link
                                a(href="http://").Bnbtn.BuyButtonC#BuyButtonI
                                    | Buy Now
                                a(href="http://").AtcBtn.CartButtonC#CartButtonI 
                                    | AddToCart    

