extends base.pug
block title
    title Buy Cauliflower's Seeds Online
block style
    style
        include ../static/base.css
        include ../static/cauliflower.css
    body
        main
            section.prdct-imgAndInfo
                .prdct-leftSide
                    .prdct-image
                .prdct-rightSide
                    .prdct-info

            section.prdct-desc

            section.prdct-About

            //- Buy now - Add to cart section to be declared

            section.prdct-related    
                