extends base.pug
block title
    title Gifts | Plant World
block style
    style 
        include ../public/css/base.css
        include ../public/css/gift.css
        include ../public/css/chatting.css
    body 
        main
            .heading-gift-container
                .gift-page-heading
                    h1 Gift Items
                .gift-page-desc
                    p Gift the loving items to the loving items 

            //-gift items Container that will contain all the sections for the gift items
            section.pageItem-container
                .pgitems-heading
                    h2 Best Gifts Items
                .pgitems-products
                    .pgitem-prdct1.sim-bs-itemspg
                        .pgitem-prdct-image
                            a(href="http://") #[img(src="", alt="", srcset="",width="100%", height="100%")]
                        .pgitem-item-info-container    
                            .pgitem-prdt-info
                                h3 Product Name
                                p Price
                            .pgitem-prdt-link
                                a(href="http://").Bnbtn.BuyButtonC#BuyButtonI
                                    | Buy Now
                                a(href="http://").AtcBtn.CartButtonC#CartButtonI 
                                    | AddToCart
                    .pgitem-prdct2.sim-bs-itemspg
                        .pgitem-prdct-image
                            a(href="http://") #[img(src="", alt="", srcset="",width="100%", height="100%")]
                        .pgitem-item-info-container    
                            .pgitem-prdt-info
                                h3 Product Name
                                p Price
                            .pgitem-prdt-link
                                a(href="http://").Bnbtn.BuyButtonC#BuyButtonI
                                    | Buy Now
                                a(href="http://").AtcBtn.CartButtonC#CartButtonI
                                    | AddToCart
                    .pgitem-prdct3.sim-bs-itemspg
                        .pgitem-prdct-image
                            a(href="http://") #[img(src="", alt="", srcset="",width="100%", height="100%")]
                        .pgitem-item-info-container    
                            .pgitem-prdt-info
                                h3 Product Name
                                p Price
                            .pgitem-prdt-link
                                a(href="http://").Bnbtn.BuyButtonC#BuyButtonI
                                    | Buy Now
                                a(href="http://").AtcBtn.CartButtonC#CartButtonI
                                    | Add To Cart

                    .pgitem-prdct4.sim-bs-itemspg
                        .pgitem-prdct-image
                            a(href="http://") #[img(src="", alt="", srcset="",width="100%", height="100%")]
                        .pgitem-item-info-container    
                            .pgitem-prdt-info
                                h3 Product Name
                                p Price
                            .pgitem-prdt-link
                                a(href="http://").Bnbtn.BuyButtonC#BuyButtonI
                                    | Buy now
                                a(href="http://").AtcBtn.CartButtonC#CartButtonI
                                    | AddToCart    

                    .pgitem-prdct5.sim-bs-itemspg
                        .pgitem-prdct-image
                            a(href="http://") #[img(src="", alt="", srcset="",width="100%", height="100%")]
                        .pgitem-item-info-container    
                            .pgitem-prdt-info
                                h3 Product Name
                                p Price
                            .pgitem-prdt-link
                                a(href="http://").Bnbtn.BuyButtonC#BuyButtonI
                                    | Buy Now
                                a(href="http://").AtcBtn.CartButtonC#CartButtonI 
                                    | AddToCart   

                    .pgitem-prdct6.sim-bs-itemspg
                        .pgitem-prdct-image
                            a(href="http://") #[img(src="", alt="", srcset="",width="100%", height="100%")]
                        .pgitem-item-info-container    
                            .pgitem-prdt-info
                                h3 Product Name
                                p Price
                            .pgitem-prdt-link
                                a(href="http://").Bnbtn.BuyButtonC#BuyButtonI
                                    | Buy Now
                                a(href="http://").AtcBtn.CartButtonC#CartButtonI
                                    | AddToCart    

                    .pgitem-prdct7.sim-bs-itemspg
                        .pgitem-prdct-image
                            a(href="http://") #[img(src="", alt="", srcset="",width="100%", height="100%")]
                        .pgitem-item-info-container    
                            .pgitem-prdt-info
                                h3 Product Name
                                p Price
                            .pgitem-prdt-link
                                a(href="http://").Bnbtn.BuyButtonC#BuyButtonI
                                    | Buy Now
                                a(href="http://").AtcBtn.CartButtonC#CartButtonI
                                    | AddToCart 

                    .pgitem-prdct8.sim-bs-itemspg
                        .pgitem-prdct-image
                            a(href="http://") #[img(src="", alt="", srcset="",width="100%", height="100%")]
                        .pgitem-item-info-container    
                            .pgitem-prdt-info
                                h3 Product Name
                                p Price
                            .pgitem-prdt-link
                                a(href="http://").Bnbtn.BuyButtonC#BuyButtonI
                                    | Buy Now
                                a(href="http://").AtcBtn.CartButtonC#CartButtonI
                                    | AddToCart    

                    .pgitem-prdct9.sim-bs-itemspg
                        .pgitem-prdct-image
                            a(href="http://") #[img(src="", alt="", srcset="",width="100%", height="100%")]
                        .pgitem-item-info-container    
                            .pgitem-prdt-info
                                h3 Product Name
                                p Price
                            .pgitem-prdt-link
                                a(href="http://").Bnbtn.BuyButtonC#BuyButtonI
                                    | Buy Now
                                a(href="http://").AtcBtn.CartButtonC#CartButtonI
                                    | AddToCart    

                    .pgitem-prdct10.sim-bs-itemspg
                        .pgitem-prdct-image
                            a(href="http://") #[img(src="", alt="", srcset="",width="100%", height="100%")]
                        .pgitem-item-info-container    
                            .pgitem-prdt-info
                                h3 Product Name
                                p Price
                            .pgitem-prdt-link
                                a(href="http://").Bnbtn.BuyButtonC#BuyButtonI
                                    | Buy Now
                                a(href="http://").AtcBtn.CartButtonC#CartButtonI
                                    | AddTOCart   

                    .pgitem-prdct11.sim-bs-itemspg
                        .pgitem-prdct-image
                            a(href="http://") #[img(src="", alt="", srcset="",width="100%", height="100%")]
                        .pgitem-item-info-container    
                            .pgitem-prdt-info
                                h3 Product Name
                                p Price
                            .pgitem-prdt-link
                                a(href="http://").Bnbtn.BuyButtonC#BuyButtonI
                                    | Buy Now
                                a(href="http://").AtcBtn.CartButtonC#CartButtonI  
                                    | AddToCart                              

                    .pgitem-prdct12.sim-bs-itemspg
                        .pgitem-prdct-image
                            a(href="http://") #[img(src="", alt="", srcset="",width="100%", height="100%")]
                        .pgitem-item-info-container    
                            .pgitem-prdt-info
                                h3 Product Name
                                p Price
                            .pgitem-prdt-link
                                a(href="http://").Bnbtn.BuyButtonC#BuyButtonI
                                    | Buy Now
                                a(href="http://").AtcBtn.CartButtonC#CartButtonI
                                    | AddToCart    

