extends base.pug
block style
    style 
        include ../static/base.css
        include ../static/gift.css
        include ../static/chatting.css
    body 
        main
            .heading-gift-container
                .gift-page-heading
                    h1 Gift Items
                .gift-page-desc
                    p Gift the loving items to the loving items 

            //-gift items Container that will contain all the sections for the gift items
            section.pageItem-container
                .pgitems-heading
                    h2 Best Gifts Items
                .pgitems-products
                    .pgitem-prdct1.sim-bs-itemspg
                        .pgitem-prdct-image
                            a(href="http://") #[img(src="", alt="", srcset="",width="100%", height="100%")]
                        .pgitem-item-info-container    
                            .pgitem-prdt-info
                                h3 Product Name
                                p Price
                            .pgitem-prdt-link
                                input(type="button", value="Buynow", name="", class="BuyButtonC", id="BuyButtonI")
                                input(type="button", value="AddToCart", name="" class="CartButtonC", id="CartButtonI") 

                    .pgitem-prdct2.sim-bs-itemspg
                        .pgitem-prdct-image
                            a(href="http://") #[img(src="", alt="", srcset="",width="100%", height="100%")]
                        .pgitem-item-info-container    
                            .pgitem-prdt-info
                                h3 Product Name
                                p Price
                            .pgitem-prdt-link
                                input(type="button", value="Buynow", name="", class="BuyButtonC", id="BuyButtonI")
                                input(type="button", value="AddToCart", name="" class="CartButtonC", id="CartButtonI")

                    .pgitem-prdct3.sim-bs-itemspg
                        .pgitem-prdct-image
                            a(href="http://") #[img(src="", alt="", srcset="",width="100%", height="100%")]
                        .pgitem-item-info-container    
                            .pgitem-prdt-info
                                h3 Product Name
                                p Price
                            .pgitem-prdt-link
                                input(type="button", value="Buynow", name="", class="BuyButtonC", id="BuyButtonI")
                                input(type="button", value="AddToCart", name="" class="CartButtonC", id="CartButtonI")

                    .pgitem-prdct4.sim-bs-itemspg
                        .pgitem-prdct-image
                            a(href="http://") #[img(src="", alt="", srcset="",width="100%", height="100%")]
                        .pgitem-item-info-container    
                            .pgitem-prdt-info
                                h3 Product Name
                                p Price
                            .pgitem-prdt-link
                                input(type="button", value="Buynow", name="", class="BuyButtonC", id="BuyButtonI")
                                input(type="button", value="AddToCart", name="" class="CartButtonC", id="CartButtonI")    

                    .pgitem-prdct5.sim-bs-itemspg
                        .pgitem-prdct-image
                            a(href="http://") #[img(src="", alt="", srcset="",width="100%", height="100%")]
                        .pgitem-item-info-container    
                            .pgitem-prdt-info
                                h3 Product Name
                                p Price
                            .pgitem-prdt-link
                                input(type="button", value="Buynow", name="", class="BuyButtonC", id="BuyButtonI")
                                input(type="button", value="AddToCart", name="" class="CartButtonC", id="CartButtonI")    

                    .pgitem-prdct6.sim-bs-itemspg
                        .pgitem-prdct-image
                            a(href="http://") #[img(src="", alt="", srcset="",width="100%", height="100%")]
                        .pgitem-item-info-container    
                            .pgitem-prdt-info
                                h3 Product Name
                                p Price
                            .pgitem-prdt-link
                                input(type="button", value="Buynow", name="", class="BuyButtonC", id="BuyButtonI")
                                input(type="button", value="AddToCart", name="" class="CartButtonC", id="CartButtonI")    

                    .pgitem-prdct7.sim-bs-itemspg
                        .pgitem-prdct-image
                            a(href="http://") #[img(src="", alt="", srcset="",width="100%", height="100%")]
                        .pgitem-item-info-container    
                            .pgitem-prdt-info
                                h3 Product Name
                                p Price
                            .pgitem-prdt-link
                                input(type="button", value="Buynow", name="", class="BuyButtonC", id="BuyButtonI")
                                input(type="button", value="AddToCart", name="" class="CartButtonC", id="CartButtonI") 

                    .pgitem-prdct8.sim-bs-itemspg
                        .pgitem-prdct-image
                            a(href="http://") #[img(src="", alt="", srcset="",width="100%", height="100%")]
                        .pgitem-item-info-container    
                            .pgitem-prdt-info
                                h3 Product Name
                                p Price
                            .pgitem-prdt-link
                                input(type="button", value="Buynow", name="", class="BuyButtonC", id="BuyButtonI")
                                input(type="button", value="AddToCart", name="" class="CartButtonC", id="CartButtonI")    

                    .pgitem-prdct9.sim-bs-itemspg
                        .pgitem-prdct-image
                            a(href="http://") #[img(src="", alt="", srcset="",width="100%", height="100%")]
                        .pgitem-item-info-container    
                            .pgitem-prdt-info
                                h3 Product Name
                                p Price
                            .pgitem-prdt-link
                                input(type="button", value="Buynow", name="", class="BuyButtonC", id="BuyButtonI")
                                input(type="button", value="AddToCart", name="" class="CartButtonC", id="CartButtonI")    

                    .pgitem-prdct10.sim-bs-itemspg
                        .pgitem-prdct-image
                            a(href="http://") #[img(src="", alt="", srcset="",width="100%", height="100%")]
                        .pgitem-item-info-container    
                            .pgitem-prdt-info
                                h3 Product Name
                                p Price
                            .pgitem-prdt-link
                                input(type="button", value="Buynow", name="", class="BuyButtonC", id="BuyButtonI")
                                input(type="button", value="AddToCart", name="" class="CartButtonC", id="CartButtonI")    

                    .pgitem-prdct11.sim-bs-itemspg
                        .pgitem-prdct-image
                            a(href="http://") #[img(src="", alt="", srcset="",width="100%", height="100%")]
                        .pgitem-item-info-container    
                            .pgitem-prdt-info
                                h3 Product Name
                                p Price
                            .pgitem-prdt-link
                                input(type="button", value="Buynow", name="", class="BuyButtonC", id="BuyButtonI")
                                input(type="button", value="AddToCart", name="" class="CartButtonC", id="CartButtonI")                                

                    .pgitem-prdct12.sim-bs-itemspg
                        .pgitem-prdct-image
                            a(href="http://") #[img(src="", alt="", srcset="",width="100%", height="100%")]
                        .pgitem-item-info-container    
                            .pgitem-prdt-info
                                h3 Product Name
                                p Price
                            .pgitem-prdt-link
                                input(type="button", value="Buynow", name="", class="BuyButtonC", id="BuyButtonI")
                                input(type="button", value="AddToCart", name="" class="CartButtonC", id="CartButtonI")    

