extends base.pug
block title
    title How to Grow Plants From Seeds
block style
    style 
        include ../static/base.css
        include ../static/GrowFrmSeeds.css
    body 
        main
            .infoCntnt-bg

            .infoCntnt-heading-box
                .infoCntnt-heading
                    h1 How To Take Care Of Plant

            .infoCntnt-infoContainer
                .infoCntnt-infoheading
                    h2 10 simple tips to take care of your plant!
                .infoCntnt-infoBox
                    .infoCntnt-tip1.infoCntnt-SC
                        h3 1. Feel the Soil to Know How Often to Water Your Plants
                        p For most plants, the golden rule is to see if the first inch or so of soil is dry. If dry, this is an indication that the plant needs water. If there are leaves that have shriveled or are dry/discolored, the plant might need a little extra water than a regular routine.
                    .infoCntnt-tip2.infoCntnt-SC
                        h3 2. It’s Better to Underwater Your Plants Than Overwater Them
                        p A plant can recover faster from being deprived of water than one given excess water.To rescue an overwatered plant, you may need to repot the plant and remove any unhealthy roots and overwatered soil before moving the plant into a new pot.  
                    .infoCntnt-tip3.infoCntnt-SC
                        h3 3. Skip Fertilization for Houseplants if You’re Unsure
                        p  If you’re unsure of how much or what type of fertilization to use when planting, it’s better to skip that step altogether. Too much fertilization may actually end up killing your plant rather than helping it.
                    .infoCntnt-tip4.infoCntnt-SC
                        h3 4. Water Deeply, Rather Than Lightly and Frequently
                        p Watering deeply, which entails watering your plants heavily with water, allows for all the roots to grab a drink. To avoid overwatering, slowly water your plant and watch for when the water is not draining through the soil anymore. Once you notice this, stop there.
                    .infoCntnt-tip5.infoCntnt-SC
                        h3 5. Prune Your Plants
                        p Getting rid of old-growth on your plants will help your plants grow again. This is kind of like how trimming the dead ends of your hair will help your hair grow again.
                    .infoCntnt-tip6.infoCntnt-SC
                        h3 6. Don’t Repot Your Plants by Pulling Them
                        p Pulling a plant out will not only ruin the stems, leaves, and blossoms but will also tear roots. Damaged roots need to heal before they can fully take in nutrients, so pulling your plant out of its pot is never a good plan.
                    .infoCntnt-tip7.infoCntnt-SC
                        h3 7. Try to Replicate Your Plant’s Native Habitat
                        p This includes the type of soil you buy, humidity, temperature, water and sunlight. Researching your plant’s native habitat will help you discover the climate and terrain your plant prefers.
                    .infoCntnt-tip8.infoCntnt-SC
                        h3 8. Most Plants Flourish in High Humidity
                        p With most homes having dry air, especially in the winter, you may want to adjust the air. This could be as simple as purchasing a humidifier for the rooms of your home that contain your adored plants.
                    .infoCntnt-tip9.infoCntnt-SC
                        h3 9.  Keep an Eye Out for Yellow or Droopy Leaves
                        p We will provide you to the correct fertilizer for each plant because depending on the terrain your plant has come from, the plant will require a certain fertilizer to heal back to full health. Along with fertilizer.
                        
                    .infoCntnt-tip10.infoCntnt-SC
                        h3 10. Make Sure Pots Have Drainage Holes
                        p Having a way for pots to drain is vital for your plant and the soil. Proper drainage allows the roots to receive air, rather than sitting in water and suffocating the roots.


            section.infoCntnt-YoutubeVideos
                .infoCntnt-YoutubeVideos-Heading
                    h1 YouTube Videos
                    p if you like to watch videos then this is for you
                .infoCntnt-Youtube-Container
                    .infoCntnt-youtube-Box
                        .infoCntnt-Videos
                            iframe(width='100%' height='100%' src='https://www.youtube.com/embed/LN_JLxrqY_M' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
                            h3 Repotting your plant
                        .infoCntnt-Videos
                            iframe(width='100%' height='100%' src='https://www.youtube.com/embed/kWr8SvbUGMo' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
                            h3 5 Air purifying Indoor Plants
                        .infoCntnt-Videos
                            iframe(width='100%' height='100%' src='https://www.youtube.com/embed/GOGPsIYXbr4' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
                            h3 Low Light Indoor Plants

                    

                                     
                    
                    