extends base.pug
block title
    title Buy Plants Online | Plant World
block style
    style
        include ../public/css/base.css
        include ../public/css/chatting.css
        include ../public/css/plants.css
        
    body 
        main 
            .plants-heading-container
                .plants-page-heading
                    h1 Plants
                .plants-page-desc
                    p If you’ve never experienced the joy of accomplishing more than you can imagine, plant a garden. #[em -Robert Brault]
            
            //-best selling plants in the plants page
            section.bS-PlantsPage-Container
                .bs-plantpg-heading
                    h2 Best Selling plants
                .bs-plantspg-products 
                    a(href="http://").bs-plantspg-prdct1.sim-bs-plntspg
                        h3 Plant Name
                        h3 Price
                    a(href="http://").bs-plantspg-prdct2.sim-bs-plntspg
                        h3 Plant Name
                        h3 Price
                    a(href="http://").bs-plantspg-prdct3.sim-bs-plntspg
                        h3 Plant Name
                        h3 Price    
                    a(href="http://").bs-plantspg-prdct4.sim-bs-plntspg
                        h3 Plant Name
                        h3 Price

            section.seasonal-plantsPage-Container
                .snl-plntspg-heading
                    h2 Seasonal Plants
                .snl-plants-products
                    a(href="http://").snl-plantspg-prdct1.sim-bs-plntspg
                        h3 Product name
                        h3 price
                    a(href="http://").snl-plantspg-prdct2.sim-bs-plntspg
                        h3 Product name
                        h3 price
                    a(href="http://").snl-plantspg-prdct3.sim-bs-plntspg
                        h3 Product name
                        h3 price
                    a(href="http://").snl-plantspg-prdct4.sim-bs-plntspg
                        h3 Product name
                        h3 price
                    a(href="http://").snl-plantspg-prdct5.sim-bs-plntspg
                        h3 Product name
                        h3 price
                    a(href="http://").snl-plantspg-prdct6.sim-bs-plntspg
                        h3 Product name
                        h3 price
                    a(href="http://").snl-plantspg-prdct7.sim-bs-plntspg
                        h3 Product name
                        h3 price
                    a(href="http://").snl-plantspg-prdct8.sim-bs-plntspg
                        h3 Product name
                        h3 price

            section.MorePlants-plntspg-contanier
                .Moreplants-plntsgn-heading
                    h2 More Plants
                .Mp-plntspg-prdcts
                    a(href="http://").Mp-plntspg-prdct1.sim-bs-plntspg
                        h3 Product Name 
                        h3 Price
                    a(href="http://").Mp-plntspg-prdct2.sim-bs-plntspg
                        h3 Product Name 
                        h3 Price
                    a(href="http://").Mp-plntspg-prdct3.sim-bs-plntspg
                        h3 Product Name 
                        h3 Price
                    a(href="http://").Mp-plntspg-prdct4.sim-bs-plntspg
                        h3 Product Name 
                        h3 Price
                    a(href="http://").Mp-plntspg-prdct5.sim-bs-plntspg
                        h3 Product Name 
                        h3 Price
                    a(href="http://").Mp-plntspg-prdct6.sim-bs-plntspg
                        h3 Product Name 
                        h3 Price
                    a(href="http://").Mp-plntspg-prdct7.sim-bs-plntspg
                        h3 Product Name 
                        h3 Price
                    a(href="http://").Mp-plntspg-prdct8.sim-bs-plntspg
                        h3 Product Name 
                        h3 Price
                    a(href="http://").Mp-plntspg-prdct9.sim-bs-plntspg
                        h3 Product Name 
                        h3 Price
                    a(href="http://").Mp-plntspg-prdct10.sim-bs-plntspg
                        h3 Product Name 
                        h3 Price

        