extends base.pug
block title
    title Buy Plants Online | Plant World
block style
    style
        include ../public/css/base.css
        include ../public/css/chatting.css
        include ../public/css/plants.css
        include ../public/css/care.css
        
    body 
        main 
            .plants-heading-container
                .plants-page-heading
                    h1 Plants
                .plants-page-desc
                    p If you’ve never experienced the joy of accomplishing more than you can imagine, plant a garden. #[em -Robert Brault]
            
            //-best selling plants in the plants page
            section.bS-PlantsPage-Container
                .bs-plantpg-heading
                    h2 Best Selling plants
                .bs-plantspg-products 

                    //-Mann bhai, iss pure code ko copy kerna hai
                    .pgitem-prdct1.sim-bs-itemspg
                        .pgitem-prdct-image
                            a(href="http://") #[img(src="../static/images/planters/SquareConcretePlate.jpg", alt="", srcset="",width="100%", height="100%")]
                        .pgitem-item-info-container    
                            .pgitem-prdt-info
                                h3 Square Concrete
                                p Price
                            .pgitem-prdt-link
                                a(href="http://").Bnbtn.BuyButtonC#BuyButtonI
                                    | Buy Now
                                a(href="http://").AtcBtn.CartButtonC#CartButtonI 
                                    | AddToCart
                    //-yahan thank copy karna aur iske niche vala code dek same asa hii hai. yeh 1 product ka hai..line no 84 per jaa 

                    .pgitem-prdct2.sim-bs-itemspg
                        .pgitem-prdct-image
                            a(href="http://") #[img(src="../static/images/planters/SquareConcretePlate.jpg", alt="", srcset="",width="100%", height="100%")]
                        .pgitem-item-info-container    
                            .pgitem-prdt-info
                                h3 Square Concrete
                                p Price
                            .pgitem-prdt-link
                                a(href="http://").Bnbtn.BuyButtonC#BuyButtonI
                                    | Buy Now
                                a(href="http://").AtcBtn.CartButtonC#CartButtonI 
                                    | AddToCart


                    .pgitem-prdct3.sim-bs-itemspg
                        .pgitem-prdct-image
                            a(href="http://") #[img(src="../static/images/planters/SquareConcretePlate.jpg", alt="", srcset="",width="100%", height="100%")]
                        .pgitem-item-info-container    
                            .pgitem-prdt-info
                                h3 Square Concrete
                                p Price
                            .pgitem-prdt-link
                                a(href="http://").Bnbtn.BuyButtonC#BuyButtonI
                                    | Buy Now
                                a(href="http://").AtcBtn.CartButtonC#CartButtonI 
                                    | AddToCart 

                    .pgitem-prdct4.sim-bs-itemspg
                        .pgitem-prdct-image
                            a(href="http://") #[img(src="../static/images/planters/SquareConcretePlate.jpg", alt="", srcset="",width="100%", height="100%")]
                        .pgitem-item-info-container    
                            .pgitem-prdt-info
                                h3 Square Concrete
                                p Price
                            .pgitem-prdt-link
                                a(href="http://").Bnbtn.BuyButtonC#BuyButtonI
                                    | Buy Now
                                a(href="http://").AtcBtn.CartButtonC#CartButtonI 
                                    | AddToCart

            section.seasonal-plantsPage-Container
                .snl-plntspg-heading
                    h2 Seasonal Plants

                //- yeh har link alg alg products ki hai,  tuje voh code ko inse change kerna hai. Call kario      
                .snl-plants-products
                    a(href="http://").snl-plantspg-prdct1.sim-bs-plntspg
                        h3 Product name
                        h3 price
                    a(href="http://").snl-plantspg-prdct2.sim-bs-plntspg
                        h3 Product name
                        h3 price
                    a(href="http://").snl-plantspg-prdct3.sim-bs-plntspg
                        h3 Product name
                        h3 price
                    a(href="http://").snl-plantspg-prdct4.sim-bs-plntspg
                        h3 Product name
                        h3 price
                    a(href="http://").snl-plantspg-prdct5.sim-bs-plntspg
                        h3 Product name
                        h3 price
                    a(href="http://").snl-plantspg-prdct6.sim-bs-plntspg
                        h3 Product name
                        h3 price
                    a(href="http://").snl-plantspg-prdct7.sim-bs-plntspg
                        h3 Product name
                        h3 price
                    a(href="http://").snl-plantspg-prdct8.sim-bs-plntspg
                        h3 Product name
                        h3 price

            section.MorePlants-plntspg-contanier
                .Moreplants-plntsgn-heading
                    h2 More Plants
                .Mp-plntspg-prdcts
                    a(href="http://").Mp-plntspg-prdct1.sim-bs-plntspg
                        h3 Product Name 
                        h3 Price
                    a(href="http://").Mp-plntspg-prdct2.sim-bs-plntspg
                        h3 Product Name 
                        h3 Price
                    a(href="http://").Mp-plntspg-prdct3.sim-bs-plntspg
                        h3 Product Name 
                        h3 Price
                    a(href="http://").Mp-plntspg-prdct4.sim-bs-plntspg
                        h3 Product Name 
                        h3 Price
                    a(href="http://").Mp-plntspg-prdct5.sim-bs-plntspg
                        h3 Product Name 
                        h3 Price
                    a(href="http://").Mp-plntspg-prdct6.sim-bs-plntspg
                        h3 Product Name 
                        h3 Price
                    a(href="http://").Mp-plntspg-prdct7.sim-bs-plntspg
                        h3 Product Name 
                        h3 Price
                    a(href="http://").Mp-plntspg-prdct8.sim-bs-plntspg
                        h3 Product Name 
                        h3 Price
                    a(href="http://").Mp-plntspg-prdct9.sim-bs-plntspg
                        h3 Product Name 
                        h3 Price
                    a(href="http://").Mp-plntspg-prdct10.sim-bs-plntspg
                        h3 Product Name 
                        h3 Price

        