extends base.pug  
block title
    title SignUp Page | Plant World
block style 
    style 
        include ../static/base.css
        include ../static/Signup.css
        include ../static/chatting.css
block script 
    script 
        include ../static/signup.js     
block content
    div.signupWrapper 
        div.signUpbg 
        div.signFormBg
        div.SUHeading
            h1 SignUp 
            | *All Are Required fields 
        div.basicInfo
            form(action="/signup", method="post", class="SUform", onsubmit="return val()") 
                | Your Name 
                input(type="text", name="Name", class="SUinput", id="fname",  placeholder="Enter Your Full Name Here")
                | Your Email
                input(type="email", name="Email", class="SUinput", id="email"  placeholder="Enter Your Email Here")
                | Your Password 
                input(type="password", name="Password", class="SUinput",id="pass" placeholder="Enter Your Password Here")
                | Your Address 
                input(type="text", name="Address", class="SUinput",id="address" placeholder="Enter Your Address Here ")
                | Your Phone No.
                input(type="text", name="PhoneNo", class="SUinput",id="phone" placeholder="Enter Your Phone No. Here")
                input(type="submit", value="Submit", class="SUinputBtn")

block script  
    script 
        include ../static/navbar.js             

               
